@page "/blockedusers/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3>View Location</h3>
<FormComponent blockedUser="blockedUser" Disabled="true" />
@code {
    [Parameter] public int id { get; set; }
    BlockedUser blockedUser = new BlockedUser();
    protected async override Task OnParametersSetAsync()
    {
        blockedUser = await
       _client.GetFromJsonAsync<BlockedUser>($"{Endpoints.BlockedUsersEndPoint}/{id}");
    }
}
