@page "/counter"

<div>
    

    <h1>Discover your love!</h1>
    <h2>press the like button if u like it !</h2>

    <br><hr><br>

    <BlazorSlickCarousel>
        <BlazorSlickCarouselContent>

            <img style="width:500px;height:800px;" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.sKIfF_rVOQdmt49T7PVYswHaHP%26pid%3DApi&f=1" alt="">
            <img style="width:500px;height:800px;" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.VkRqCF1JjY0ZYaT4soa-twHaHa%26pid%3DApi&f=1" alt="">
            <img style="width:500px;height:800px;" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.dLrlW_lYky8YlAvIG2qzkgHaEK%26pid%3DApi&f=1" alt="">
            <img style="width:500px;height:800px;" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.aeQz76jkzEwepLqPTpyg5QHaEK%26pid%3DApi&f=1" alt="">
            <img style="width:500px;height:800px;" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.Q9iNJnfTE1kBgpUJMttxBwHaEK%26pid%3DApi&f=1" alt="">
            <img style="width:500px;height:800px;" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.NAH1zYs84nYsSQEqZmOgTQHaEK%26pid%3DApi&f=1" alt="">
            <img style="width:500px;height:800px;" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.z5kiE_GSX7gsbItMbkkLeAHaET%26pid%3DApi&f=1" alt="">
            <img style="width:500px;height:800px;" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.Q6ELizmcAoF8UiKrSjRMJAHaGy%26pid%3DApi&f=1" alt="">
            <img style="width:500px;height:800px;" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.sbzY_z-nYUE75o880NBmCwHaEK%26pid%3DApi&f=1" alt="">
        </BlazorSlickCarouselContent>
        <BlazorSlickCarouselLoading>
            <p>Loading...</p>
        </BlazorSlickCarouselLoading>
    </BlazorSlickCarousel>
    <br><hr><br>
    <div>
        <a href="/locations/create" class="btn btn-secondary"></a>
        
        Like
    </div>
    <div>
        Information here:
    </div>
    <div>
        Name:Mary
    </div>
    <div>
        Location:Singapore
    </div>
    <div>
        profile pic:https://loremflickr.com/400/400?random=15
    </div>
</div>
