@page "/"
<link rel="stylesheet" href="/css/styles.css">


<body>

    <div class="w3-container" id="main">
        <form method="get" action="page">
            <fieldset class="form-group" id="mainPage">
                <!--Image-->
                <div>
                    <img id="love" src="/imagebaby/love.jpg" alt="Love is">
                </div>
                <div>
                    <!--Header and Web info-->
                    <h1>Welcome to My Prosper life</h1>
                    <p id="info">
                        Welcome to the web's most successful dating website.
                        At my Prosper life you'll meet other like minded individuals. We have the
                        highest success rate of couples on the web. Users are matched by
                        interest and location. Find out why so many others have found love on our site!
                    </p>

                    <!--Header 3 with review comments under-->
                    <h3>Hear what our users are saying about us.</h3>
                    <hr>

                    <p class="quote">"I met the love of my life after only a month!" -Andrea</p>

                    <p class="quote">
                        "It was so easy to set up a profile, and start meeting people.
                        I didn't realize how many others were looking for love in my
                        area." -John Smith
                    </p>

                    <p class="quote">"Just try it! You'll never be the same!" -Sarah</p>

                    <hr>

                    
                        <NavLink class="nav-link" href="users">
                             Create one now!
                        </NavLink>
                    

                </div>

            </fieldset>
        </form>
    </div>
</body>
