@page "/messages/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3>View Message</h3>
<FormComponent message="message" Disabled="true" />
@code {
    [Parameter] public int id { get; set; }
    Message message = new Message();
    protected async override Task OnParametersSetAsync()
    {
        message = await
       _client.GetFromJsonAsync<Message>($"{Endpoints.MessagesEndPoint}/{id}");
    }
}
