@inherits LayoutComponentBase


    

    <div class="main">
        <NavMenu>
        </NavMenu>
        
           
     <div class="content px-4" style="background-color: LightGray; width: 1400px; margin: 0 auto;">
       @Body
        </div>
        </div>
    

