@inherits LayoutComponentBase


    

    <div class="main">
        <NavMenu>
        </NavMenu>
        
           
     <div class="content px-4" style="background-color: LightGray ">
       @Body
        </div>
        </div>
    

