<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">My Prosper Life</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a><LoginDisplay /></a>
        </div>
        <div class="navbar-nav ml-auto">
            <a><img style="width:40px;height:40px;" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.A5my54c5Ve1It1yW4mkVoQHaFj%26pid%3DApi&f=1" /></a>
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="counter">Discover!</a>
            <a class="nav-item nav-link" href="users">User</a>
            <a class="nav-item nav-link" href="matches">matches</a>
            <a class="nav-item nav-link" href="messagess">Message</a>
            <a class="nav-item nav-link" href="locations">Likes</a>
            <a class="nav-item nav-link" href="payments">Membership</a>
            <a class="nav-item nav-link" href="blockedusers">blacklist</a>
            <a class="nav-item nav-link" href="swipe">Swipe!</a>


        </div>

    </div>
</nav>